{% extends 'base.html' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
<a href="{% url 'login' %}" class="btn btn-warning">Login</a> <br><br>
<h1>Registration Form</h1>
<form method="POST">
    {% csrf_token %}
    <label for="fname" class="form-label">Firstname</label>
    <input type="text" name="firstname" class="form-control" id="fname" required="required">

    <label for="lname" class="form-label">Lastname</label>
    <input type="text" name="lastname" class="form-control" id="lname" required="required">

    <label for="uname" class="form-label">Username</label>
    <input type="text" name="username" class="form-control" id="uname" required="required">

    <label for="pwd" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="pwd" required="required"> <br><br>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>

</body>
</html>
{% endblock %}